menu "App Config"

config APP_HEARTBEAT_PERIOD_MS
    int "Led heartbeat period in ms"
    default 500
    range 100 2000
    help
      Led heartbeat time


endmenu
menu "Zephyr Config"
source "Kconfig.zephyr"
endmenu